#GameField {
	/*Size*/
	width: 1024px;
	height: 768px;
	border: 1px solid black;
	background-color: #7ec0ee;
	/*Centering and z-index*/
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	z-index: 1;
}
#logo {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 70px;
	width: 130px;
}
#instructions {
	/*positioning*/
	position: absolute;
	z-index: 10;
	padding: 5px;
	margin: 50px;
	left: 0;
	right: 0;
	/*display & design*/
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-weight: 10px;	
}
#instructions:hover {
	border: 2px solid black;
	background-color: #b5becc;
	color: white;
}
#PauseText {
	/*Look*/
	display: none;
	font-size: 40px;
	font-weight: 5px;
	text-align: center;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	/*size*/
	width: 100%;
	height: 60px;
	/*position*/
	z-index: 20;
	margin: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
}
#EndText {
	/*Look*/
	display: none;
	font-size: 40px;
	font-weight: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	/*size*/
	width: 100%;
	height: 20%;
	/*position*/
	position: absolute;
	z-index: 20;
	top: 200px;
	left: 0;
	right: 0;
	bottom: 0;
}
#retry {
	position: relative;
	top: 10px;
	font-size: 15px;
	font-style: italic;
}
#startButton {
	/*size and design*/
	border: 1px solid black;
	padding: 3px 5px 3px 5px;
	width: 150px;
	height: 50px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
	color: white;
	background-color: #b5becc;
	font-size: 20px;
	font-weight: 5px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	
	/*centering*/
	top: 359px; 
	left: 437px; 
	z-index: 10;

	/*for ripple*/
	position: relative;

}
#bigwave {
	position:absolute;
	background-color:#FFF;
	width: 157px;
	height: 55px;
	top:0;
	left:0;
	transform: scale(0);
	opacity:0.5;
	
}
#startButton:hover > #bigwave{
	background-color: #f39c12;
	animation: ripple 2s;
}
.smallbutton {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	z-index: 20;
}
.smallbutton:hover >.smallwave {
	background-color: #FFF;
	animation: ripple 1s;
	border-bottom: 2px solid black;
	border-right:2px solid black;
}
.smallbutton img {
	width: 24px;
	height: 24px;
	z-index: 20;
}
#pauseBtn {
	right: 10px;
}
#soundBtn {
	right: 44px;
}
#plusBtn {
	right: 78px;
}
#minusBtn {
	right: 112px;
}
.smallwave {
	position:absolute;
	background-color:#FFF;
	width: 24px;
	height: 24px;
	top:0;
	left:0;
	transform: scale(0);
	opacity:0.5;
}
@keyframes ripple {
 0% {transform: scaleX(0);}
 20%{transform: scaleX(1);opacity:0.3;}
 100%{transform: scaleX(1);opacity:0;}
}


#timer {
	position: absolute;
	left: 10px;
	top: 10px;
	display: none;
	color: white;
	z-index: 20;
}
#plane {
	z-index: 10;
	display: none;
	position: absolute;
	width: 200px;
	height: 100px;
}
.clouds {
	height: 100px;
	width: 200px;
	position: absolute;
	display: none;
	z-index: 5;
}
#bird {
	width: 100px;
	height: 70px;
	display: none;
	position: absolute;
	z-index: 10;
}
#fuelBar {
	width: 100px;
	height: 90px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	display: none;
}
#fuelCounter{
	width: 10px;
	height: 100px;
	position: absolute;
	left: 53px;
	bottom: -40px;
	transform: rotate(-24deg);
	z-index: 20;
	display: none;
}
#starIcon{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 250px;
	bottom: 10px;
	z-index: 20;
	display: none;
}
#starCounter {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	color: white;
	position: absolute;
	left: 350px;
	bottom: 20px;
	display: none;
}
#parachute {
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 9;
	display: none;
}
#star {
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 9;
	display: none;
}